
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <p>
        In 2015 Chitraleka Dance Company will have completed 25 years of its work throughout the United Kingdom and Internationally, creating and touring dance productions, delivering education work and training people of all ages in the ancient art of Bharatanatyam. The company, under the guidance of its artistic director, choreographer and teacher, Chitraleka Bolar, celebrates its unique successes in promoting the growth and popularity of South Asian dance by making Bharatanatyam more accessible through their programme of education, training, professional development and touring productions.
    </p>

    <ul>
        <li>
            Chitraleka Bolar
        </li>
        <li>

            Chitraleka Bolar, Artistic Director of Chitraleka Dance Company, trained in Bharatanatyam in Kerala, India. Her professional career as an artist, teacher and choreographer has spanned over thirty five years of performance work in theaters, schools and community venues. Chitraleka has been Artistic Director of Chitraleka Dance Company since 1996. Her pioneering ability for creative adaptation of the classical art form to enhance the sharing and understanding of cultural diversity through dance in schools led to a special place for Chitraleka as an artist in education, paralleling a prestigious career as a teacher, performer and choreographer. Chitraleka has been a member of the South Asian Dance Faculty of the ISTD (Imperial Society of Teachers of Dancing) since 2000 and has served as its chair during 2002-2009. Currently, she is a senior examiner for Bharatanatyam with the Faculty. Chitraleka’s has trained many dancers who have now gone on to developing and enriching the dance scene throughout the United Kingdom. She sees her current work with Chitraleka Dance Academy as an investment for the future of the country’s cultural prosperity. Her remarkable achievement has been the establishment of one of the first Youth Dance companies in Britain to be founded on a strong repertoire of classical Indian dance and dance-drama work.
        </li>
        <li>

            Performance
        </li>
        <li>
            Chitraleka Dance Company’s performance work started in 1990 with Chitraleka’s quest for exploring the power and precision of Bharatanatyam, interpretations of its vocabulary and percussive rhythms, the portrayal of its inherent masculine and feminine elements and the fragilities of the eight heroines based on the Hindu manuscript, ‘Natyashastra’. The quest for linking classical dance with science resulted in ‘The Story of Carbon’ which toured UK and thereafter India, where it engaged with over 7,000 audiences, mainly from education. ‘Tears of Fire’, a dance-theatre production captured the mythological story of the princess Draupadi and its relevance to the story of women’s lives past and present. ‘From Stardust to Life’ explored the Hindu version of human evolution in the ten incarnations of Vishnu. ‘Maya-Ayam’ was an extension of this theme which toured India and UK in collaboration with Nritarutya, a company based in India.
        </li>
        <li>

            Education
        </li>
        <li>
            ​Education is integrated into the core of Chitraleka Dance Company’s work. The company has a long history of its imaginative and unique model of education work based on the creative resource of the rich dance vocabulary in Bharatanatyam. Chitraleka strongly believed that Bharatanatyam, more than a medium for storytelling, can also be extended to expressing a whole range of ideas in science, mathematics, geography etc., that can be linked to the curriculum.
        </li>
    </ul>
</div>

