
@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <p>
        Bharatanatyam
        Chitraleka Dance Company specialise in South India’s ancient and graceful classical dance, Bharatanatyam and celebrate over 23 years of promoting the growth and popularity of the dance in formal education and through community outreach work.  Bharatanatyam is one of the major classical dance forms in India and developed in the southern province of Tamil Nadu.  It is more commonly known as the ‘temple dance’ as it was practised and performed in the temples of South India as part of religious ceremonies.  The dance has a deeply religious importance in the culture of the people.  The first historical record of the origins of Bharatanatyam dates back to 5th century BC to a Holy Scripture 'Natya Shastra' (studies on dramatic theory) written by saint Bharata.  Bharatanatyam, as the name depicts is the combination of:

        BHA- Bhava (Expression), RA- Raga (Music) and TA- Tala (Rhythm)

        Bharatanatyam dance technique is complex.  The dance has two main aspects – ‘Nritta’ (pure dance) and ‘Abhinaya’ (expression).  The pure dance interprets rhythm and music through body movement and gestures.  Expression is used when interpreting stories and conveying emotional sentiments.

        Training in Bharatanatyam at the Academy is structured to the ISTD syllabus (Imperial Society of Teachers of Dancing - www.istd.org), designed closely to reflect traditional methods of teaching together with creating the necessary physical and cultural infrastructure for the student.
        To enroll, reserve a place on a class or simply request more information, please CONTACT US or complete the form on to the right.

        Printable term sheets are available to download at the bottom of this page.
    </p>

    Bharatanatyam Classes:

    <ul>


        <li>
            <span>Northfield Classes</span>

            Venue: Allens Cross Community Center, Tinkers Farm Road, Birmingham B31 1RH
            For more information about classes in Northfield, please click here.
        <li />

        <li>
            <span>Solihull Classes</span>
            Venue: Solihull Women's Institute, 754 Warwick Road, Solihull, B91 3DG
            For more information about classes in Solihull, please click here.
        </li>

        <li>

            <span>Handsworth, Birmingham Classes</span>
            Venue: Sports Hall, King Edward VI Handsworth School, Birmingham B20 2BQ
            For more information about classes in Solihull, please click here.
        <li />
    </ul>

    <p>
        Student Information Pack
    </p>

    <p>
        A downloadable student information pack is available in PDF format which gives a brief introduction to the Academy, admissions procedure, dress code, examinations, performance opportunities etc., For further information, please Contact Us or call us using the telephone no. on the right of this page.  Whatever your level of experience, Chitraleka Dance Company offers through its Academy, the highest quality training in Indian classical dance, Bharatanatyam, delivered in a structured format by dance professionals who really know and understand the art form. Have fun and enjoy your learning experience with us; whether as an adult looking for a leisure class, a student embarking on a classical dance career or a parent realising the positive benefits of the cultural values that we can offer to
    </p>

</div>
