
@{
    ViewBag.Title = "Contactus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    ​<p>Teaching Centres:</p>

    <p>
        Handsworth, Birmingham
        ​​Sports Hall
        King Edward VI Handsworth School
        Birmingham B20 2BQ

    </p>

    <p>

        Solihull
        Solihull Women's Institute
        754 Warwick Road
        Solihull B91 3DG
    </p>
    <p>

        Northfield, Birmingham
        Allens Cross Community Center
        Tinkers Farm Road
        ​Birmingham B31 1RH
    </p>


</div>

