@{
    ViewBag.Title = "Password Reset";
}

<div class="container forms">
    <div class="row">

        <div class="img-responsive" style="text-align:center;">
            <a href="@Url.Action("Index","Home")"></a>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
            <h1 style="color:green;">PASSWORD CHANGED</h1>
            <h2>Your password has been changed successfully. Please use your new password to log in...</h2>

            <div class="form-group">
                @Html.ActionLink("Click here to Login...", "Login", "Account", new { }, new { @class = "btn btn-primary" })
            </div>

        </div>
    </div>
</div>

